* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    color: rgb(51, 51, 51);
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .site-name {
    font-weight: bold;
    font-size: 1.5rem;
    color: #000;
  }
    
  .search-box {
    width: 600px;
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background-color: #f0e6f6;
    color: #333;
    margin-left: 50px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .profile {
    width: 65px;
    border-radius: 25px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .title{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #827f7f;
  }
  
  .favorite-icon, .search-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 150px;
  }
  
  .main-section {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 90vh;
    background-color: #9a68aa;
    color: #fff;
    padding-left: 60px;
  }
  
  .main-section h1 {
    font-size: 7rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 10px 10px #5A4B6E;
    line-height: 1,1;
  }
  
  .box{
    width: 1000px;
    height: 500px;
    border-width: 1px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
  }
  .product-name{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
    margin-bottom: 5px;
  }
  
  .price{
    display: flex;
    font-weight: 500;
    font-size: 10px;
  }
  .pic{
    height: 100px;
    width: 100px;
    margin-top: 7px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
  }

  .favorite-product{
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    padding-top: 20px;
  }
  
  .description{
    display: flex;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .box-body{
    width: 700px;
    height: 120px;
    border-width: 2px;
    border-color: rgb(211, 211, 211);
    border-style: solid;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
    text-align: justify;
    display: flex;
    flex-direction: row;
  }
  
   .text{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 800;
     font-size: 20px;
   }
  
   .button{

   }
  .whatsapp{ background-color: rgb(7, 196, 76);
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    width: 160px;
    height: 30px;
    border-width: 1px;
    border-color: #000;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 10px;
    margin-left: 100px;
    margin-top: 45px;
    margin-right: 20px;
    
    }
    .trash-icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: sticky;
    right: 400px;
    top: 350px;
    }