* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif, sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    overflow-y: auto;
    background-color: #cac8de;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    position: relative;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    gap: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .logo {
    width: 40px;
    height: auto;
  }
  
  .site-name {
    font-weight: bold;
    font-size: 1.5rem;
    color: #000;
  }
  
  .navbar-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 50px;
  }

  .navbar-center a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .navbar-center a:hover {
    color: #6F4B9B;
  }

  .main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #47005f;
    width: 800px;
    height: 500px;
    color: #fff;
    padding: 40px;
    position: relative;
  }
  
  .main-content {
    max-width: 500px;
  }
  
  .main-content h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 15px;
  }

  .main-content h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}
  
  .main-content p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .view-more-button,
  .learn-more-button {
    padding: 10px 50px;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 0.9rem;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .view-more-button {
    background-color: #6F4B9B;
  }
  
  .learn-more-button {
    background-color: #02a142;
    color: #333;
    margin-left: 100px;
  }
  
  .purple-box {
    width: 425px;
    height: 300px;
    background-color: #7B4BA2;
    position: absolute;
    margin-left: 900px;
    top: 200px;
    z-index: 1;
    border-radius: 20px;
  }

  .left-arrow, .right-arrow {
    position: absolute;
    display: flex;
    cursor: pointer;
    color: #050007;
    top: 125px;
    left: 10px;
  }

  .right-arrow{
    position: absolute;
    display: flex;
    cursor: pointer;
    color: #050007;
    left: 370px;
  }

  .image1 {
    width: 275px;
    height: auto;
    margin-left: 70px;
    margin-top: 60px;
    transform: rotate(-20deg);
  }

  .overlay-box {
    width: 350px;
    height: 400px;
    background-color: #B07FCC;
    position: absolute;
    margin-left: 1050px;
    margin-bottom: 100px;
    z-index: 0;
    border-radius: 20px;
  }
  

  .product-card {
    display: inline-block;
    max-width: 345px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 5px;
  }

  .product-card img{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: #aaa;
  }

  .heart{
    position: absolute;
    display: flex;
    cursor: pointer;
    width: 20px;
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
  }

  .product-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .product-card p {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
  }

  .all-produk{
    padding: 10px 50px;
    border: seagreen;
    border-radius: 30px;
    color: #000000;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 665px;
  }

  .footer {
    background-color: #333;
    color: #fff;
    padding: 40px 10%;
    margin-top: 50px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
  }

  .footer-about h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-left: 50px;
  }

  .footer-links h3{
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: left;
  }

  .footer-links ul {
    list-style-type: none;
    padding: 0;
  }

  .footer-links ul li {
    margin-bottom: 5px; 
  }

  .footer-links ul li a {
    color: #ccc;
    text-decoration: double;
    font-size: 1rem;
    transition: color 0.3s ease;
    cursor: pointer;
    margin-bottom: 5px;
  }

  .footer-links a{
    margin-left: 25px;
  }

  .footer-social .social-icons {
    display: flex;
    gap: 20px;
  }

  .footer-social h4{
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-left: 150px;
  }

  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #aaa;
  }
